<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="22.12.0" targetFramework="net48" />
  <package id="IronPdf" version="2022.11.10347" targetFramework="net48" />
  <package id="IronPdf.Native.Chrome.Windows" version="2022.11.10299" targetFramework="net48" />
  <package id="IronPdf.Slim" version="2022.11.10347" targetFramework="net48" />
  <package id="Spire.Doc" version="11.1.0" targetFramework="net48" />
</packages>